{
    "token": "<discord-bot-token>",
    "discord_user_id": <your-account-id>,
    "servers": [{
        "address": "irc.libera.chat:6697",
        "tls": true,
        "nick": "irc_nick_here",
        "general_webhook":"https://discord.com/api/webhooks/id/token",
        "channels": [
            {
                "name":"##john-test",
                "discord_channel":0000000001,
                "webhook_url":"https://discord.com/api/webhooks/id/token"
            }
        ]
    }]
}
